# Ignore everything by default
*

# Allow directories (so Git can descend into src/ and include/)
!*/

# Allow source code in src/ and include/
!src/**/*.cpp
!src/**/*.h
!include/**/*.cpp
!include/**/*.h

# Allow markdown files
!*.md

# Ignore build outputs
*.o
*.out
*.exe
*.a
*.so
*.dll

# Ignore binaries in root
bgp_simulator
bgp_main
asgraph
simple_bgp_test
bgp_test

# Ignore large datasets / test data
*.csv
bench/
prefix/
many/
subprefix/
example/
test/
working_ribs.csv

